<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF8Aw8-4vU387BEwJyWRtdiQkxiwxMQqw</string>
	<key>GCM_SENDER_ID</key>
	<string>198737740581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mzhao99.RateMyDorm</string>
	<key>PROJECT_ID</key>
	<string>ratemydormapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ratemydormapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198737740581:ios:f665beb03d368032ee90cc</string>
    
    <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fb877452460589199</string>
                </array>
            </dict>
        </array>
        <key>FacebookAppID</key>
        <string>877452460589199</string>
        <key>FacebookClientToken</key>
        <string>cf2477dfb8f2e12481df02ea64ed508f</string>
        <key>FacebookDisplayName</key>
        <string>RateMyDorm</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fb-messenger-share-api</string>
        </array>
        <key>UIBackgroundModes</key>
        <array/>
    
</dict>
</plist>
